*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

header{
    position: fixed;
    top:0;
    right: 0;
    left: 0;
    padding: 1%;
    border-bottom: 0.4px solid #24254b;
    background-color: #1c1d3b;
    height: 1%;
}
body{
    font-size: 100%;
    background: linear-gradient( to bottom, black, #131428, #01014d, #020255, #01014d, #131429, black);
    /* background-image: url(https://i.pinimg.com/736x/d1/06/4b/d1064bb20da4a8550548737dc04658c1.jpg); */
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

nav{
    color: antiquewhite;
    display: flex;
    gap: 70px;
    justify-content: center;
    line-height: 50%;
    padding-top: 0;
}

.conteudo {
    border-top: 1.4px solid white;
    color: bisque;
}

.cima{
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    width: 130px;
    text-align: center;
    font-family: monospace;
}

.cima:hover{
    color: #6c35d1;
    /* box-shadow: 0 5px 15px rgba(0,0,0,0.6); */
    transform: scale(1.05);
}
#sum{
    margin-top: 4%;
}


img{
    cursor: pointer;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
}
#gitimg{
    border-radius: 100%;
    background-color: #020255;
}
section{
    color: white;
}

img:hover{
    transform: scale(1.1);
}
#textos{
    text-align: left;
    padding-left: 1%;
    font-family: cursive;
}

footer{
    background-color:  #131429;
    display: flex;
    justify-content: center;
    padding: 0;
    /* position: fixed; */
    bottom:0;
    right: 0;
    left: 0;
    border-top: 0.4px solid #24254b;
    height: 6%;
}

@media (prefers-reduce-motion: no-preference) {
    html{
    scroll-behavior: smooth;
    }
}
 #sum:target {
    background-color: black;
}


.teste {
    color: #ffffff;
    box-shadow: 0 5px 15px rgba(0,0,0,0.6);
    transform: scale(1.05);
}